/.settings/org.eclipse.m2e.core.prefs
/IntStreamsummaryStatistics/.classpath
/IntStreamsummaryStatistics/.project
/IntStreamsummaryStatistics/.settings/org.eclipse.jdt.apt.core.prefs
/IntStreamsummaryStatistics/.settings/org.eclipse.jdt.core.prefs
/IntStreamsummaryStatistics/.settings/org.eclipse.m2e.core.prefs
/IntStreamsummaryStatistics/target/classes/META-INF/maven/StreamAPI/IntStreamsummaryStatistics/pom.properties
/IntStreamsummaryStatistics/target/classes/META-INF/maven/StreamAPI/IntStreamsummaryStatistics/pom.xml
/IteratorAndSpliterator/.classpath
/IteratorAndSpliterator/.project
/IteratorAndSpliterator/.settings/org.eclipse.jdt.apt.core.prefs
/IteratorAndSpliterator/.settings/org.eclipse.jdt.core.prefs
/IteratorAndSpliterator/.settings/org.eclipse.m2e.core.prefs
/ParallelStreams/.classpath
/ParallelStreams/.project
/ParallelStreams/.settings/org.eclipse.jdt.apt.core.prefs
/ParallelStreams/.settings/org.eclipse.jdt.core.prefs
/ParallelStreams/.settings/org.eclipse.m2e.core.prefs
/StreamBasic/.attach_pid22357
/StreamBasic/.attach_pid8176
/StreamBasic/.classpath
/StreamBasic/.project
/StreamBasic/.settings/org.eclipse.jdt.apt.core.prefs
/StreamBasic/.settings/org.eclipse.jdt.core.prefs
/StreamBasic/.settings/org.eclipse.m2e.core.prefs
/StreamBasic/target/classes/META-INF/maven/StreamAPI/StreamBasic/pom.properties
/StreamBasic/target/classes/META-INF/maven/StreamAPI/StreamBasic/pom.xml
/StreamCodingExersise/.attach_pid16904
/StreamCodingExersise/.attach_pid28084
/StreamCodingExersise/.classpath
/StreamCodingExersise/.project
/StreamCodingExersise/.settings/org.eclipse.jdt.apt.core.prefs
/StreamCodingExersise/.settings/org.eclipse.jdt.core.prefs
/StreamCodingExersise/.settings/org.eclipse.m2e.core.prefs
/StreamCreationOperations/.classpath
/StreamCreationOperations/.project
/StreamCreationOperations/.settings/org.eclipse.jdt.apt.core.prefs
/StreamCreationOperations/.settings/org.eclipse.jdt.core.prefs
/StreamCreationOperations/.settings/org.eclipse.m2e.core.prefs
/StreamCreationOperations/target/classes/META-INF/maven/StreamAPI/StreamCreationOperations/pom.properties
/StreamCreationOperations/target/classes/META-INF/maven/StreamAPI/StreamCreationOperations/pom.xml
/StreamFindingAndMatchingOperations/.classpath
/StreamFindingAndMatchingOperations/.project
/StreamFindingAndMatchingOperations/.settings/org.eclipse.jdt.apt.core.prefs
/StreamFindingAndMatchingOperations/.settings/org.eclipse.jdt.core.prefs
/StreamFindingAndMatchingOperations/.settings/org.eclipse.m2e.core.prefs
/StreamFindingAndMatchingOperations/target/classes/META-INF/maven/StreamAPI/StreamFindingAndMatchingOperations/pom.properties
/StreamFindingAndMatchingOperations/target/classes/META-INF/maven/StreamAPI/StreamFindingAndMatchingOperations/pom.xml
/StreamFlatteningOperation/.classpath
/StreamFlatteningOperation/.project
/StreamFlatteningOperation/.settings/org.eclipse.jdt.apt.core.prefs
/StreamFlatteningOperation/.settings/org.eclipse.jdt.core.prefs
/StreamFlatteningOperation/.settings/org.eclipse.m2e.core.prefs
/StreamFlatteningOperation/target/classes/META-INF/maven/StreamAPI/StreamFlatteningOperation/pom.properties
/StreamFlatteningOperation/target/classes/META-INF/maven/StreamAPI/StreamFlatteningOperation/pom.xml
/StreamMapAndCollect/.classpath
/StreamMapAndCollect/.project
/StreamMapAndCollect/.settings/org.eclipse.jdt.apt.core.prefs
/StreamMapAndCollect/.settings/org.eclipse.jdt.core.prefs
/StreamMapAndCollect/.settings/org.eclipse.m2e.core.prefs
/StreamMapAndCollect/target/classes/META-INF/maven/StreamAPI/StreamMapAndCollect/pom.properties
/StreamMapAndCollect/target/classes/META-INF/maven/StreamAPI/StreamMapAndCollect/pom.xml
/StreamMappingOperations/.classpath
/StreamMappingOperations/.project
/StreamMappingOperations/.settings/org.eclipse.jdt.apt.core.prefs
/StreamMappingOperations/.settings/org.eclipse.jdt.core.prefs
/StreamMappingOperations/.settings/org.eclipse.m2e.core.prefs
/StreamMappingOperations/target/classes/META-INF/maven/StreamAPI/StreamMappingOperations/pom.properties
/StreamMappingOperations/target/classes/META-INF/maven/StreamAPI/StreamMappingOperations/pom.xml
/StreamMethodsPractice/.classpath
/StreamMethodsPractice/.project
/StreamMethodsPractice/.settings/org.eclipse.jdt.apt.core.prefs
/StreamMethodsPractice/.settings/org.eclipse.jdt.core.prefs
/StreamMethodsPractice/.settings/org.eclipse.m2e.core.prefs
/StreamMethodsPractice/target/classes/META-INF/maven/StreamAPI/StreamMethodsPractice/pom.properties
/StreamMethodsPractice/target/classes/META-INF/maven/StreamAPI/StreamMethodsPractice/pom.xml
/StreamOtherOperations/.attach_pid43350
/StreamOtherOperations/.classpath
/StreamOtherOperations/.project
/StreamOtherOperations/.settings/org.eclipse.jdt.apt.core.prefs
/StreamOtherOperations/.settings/org.eclipse.jdt.core.prefs
/StreamOtherOperations/.settings/org.eclipse.m2e.core.prefs
/StreamOtherOperations/target/classes/META-INF/MANIFEST.MF
/StreamOtherOperations/target/classes/META-INF/maven/StreamAPI/StreamOtherOperations/pom.properties
/StreamOtherOperations/target/classes/META-INF/maven/StreamAPI/StreamOtherOperations/pom.xml
/StreamReduce/.classpath
/StreamReduce/.project
/StreamReduce/.settings/org.eclipse.jdt.apt.core.prefs
/StreamReduce/.settings/org.eclipse.jdt.core.prefs
/StreamReduce/.settings/org.eclipse.m2e.core.prefs
/StreamReduce/target/classes/META-INF/maven/StreamAPI/StreamReduce/pom.properties
/StreamReduce/target/classes/META-INF/maven/StreamAPI/StreamReduce/pom.xml
/StreamReducingOperations/.classpath
/StreamReducingOperations/.project
/StreamReducingOperations/.settings/org.eclipse.jdt.apt.core.prefs
/StreamReducingOperations/.settings/org.eclipse.jdt.core.prefs
/StreamReducingOperations/.settings/org.eclipse.m2e.core.prefs
/StreamReducingOperations/target/classes/META-INF/maven/StreamAPI/StreamReducingOperations/pom.properties
/StreamReducingOperations/target/classes/META-INF/maven/StreamAPI/StreamReducingOperations/pom.xml
/StreamSelectionOperations/.classpath
/StreamSelectionOperations/.project
/StreamSelectionOperations/.settings/org.eclipse.jdt.apt.core.prefs
/StreamSelectionOperations/.settings/org.eclipse.jdt.core.prefs
/StreamSelectionOperations/.settings/org.eclipse.m2e.core.prefs
/StreamSelectionOperations/target/classes/META-INF/maven/StreamAPI/StreamSelectionOperations/pom.properties
/StreamSelectionOperations/target/classes/META-INF/maven/StreamAPI/StreamSelectionOperations/pom.xml
/StreamSortingOperations/.classpath
/StreamSortingOperations/.project
/StreamSortingOperations/.settings/org.eclipse.jdt.apt.core.prefs
/StreamSortingOperations/.settings/org.eclipse.jdt.core.prefs
/StreamSortingOperations/.settings/org.eclipse.m2e.core.prefs
/StreamSortingOperations/target/classes/META-INF/maven/StreamAPI/StreamSortingOperations/pom.properties
/StreamSortingOperations/target/classes/META-INF/maven/StreamAPI/StreamSortingOperations/pom.xml
